.container {
    display: flex;
    height: 280px;
    background-color: yellow;
    margin: 50px;
    align-items: center;
    padding: 0px;
}

.item {
    height: 100px;
    width: 100px;
    background-color: purple;
    margin-right: 10px;
    list-style-type: none;
}