.container {
    display: flex;
    height: 280px;
    background-color: yellow;
    margin: 50px;
    align-items: center;
    padding: 0px;
    justify-content: flex-end;  
    align-items: flex-end;  
}

.item {
    height: 100px;
    width: 100px;
    background-color: purple;
    list-style-type: none;
    margin-left: 10px;
}