.header {
    display: flex;
    margin: 0px;
    height: 100px;
    background-color: aqua;
}

.container {
    display: flex;
    margin: 0px;
    height: 700px;
}

.footer {
    display: flex;
    margin: 0px;
    height: 100px;
    background-color: blue;
}


.left {
    background-color: orange;
    width: 200px;
}

.main {
    background-color: red;
    display: flex;
    flex: 3;
    margin: 0px 25px;
    height: 100%;
    justify-content: flex-end;
    align-items: flex-end;
}

.right {
    background-color: purple;
    width: 200px;
}

.fixed {
    margin: 20px;
    background-color: black;
    height: 70px;
    width: 70px;
  
}